<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<script src = "/static/js/jquery-3.2.1.min.js"></script>
		<script src = "/static/js/home.js"></script>
	</head>

	<body>
		<div style="text-align:center;padding:20px;">
			<div style="padding:20px;">
				<button id="change_button" style="margin-right:20px;">Change Search Videos</button>
				<input id="search_content" type="text" value="" style="margin-right:20px;">
				<button id="search_button">Search</button>
			</div>
			<div>
				<div id="search_div"  style="display:inline-block;vertical-align: top;">
				</div>
				<div id="result_div" style="display:inline-block;vertical-align: top;">
				</div>
			</div>
			
		</div>
	</body>
</html>
