<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<script src = "/static/js/jquery-3.2.1.min.js"></script>
		<script src = "/static/js/home.js"></script>
	</head>

	<body>
		<div>
			<div>
				<input id="search_content" type="text" value="">
				<button id="search_button">Search</button>
			</div>
            <div>
				<button id="change_button">Change Search Videos</button>
            </div>
			<div>
				<div id="search_div"  style="display:inline-block;vertical-align: top;">
				</div>
				<div id="result_div" style="display:inline-block;vertical-align: top;">
				</div>
			</div>
			
		</div>
	</body>
</html>
